<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar', {links:links}) %>
    <div class="fullMessage">
      <% console.log(message); %>
      <h2>From: <%= message.user %></h2>
      <p><%= message.text %></p>
      <p>at <%= message.added %></p>
      <% if (!last) { %>
      <button type="button">
        <a href="/messages/<%= message.id + 1 %>">Next</a>
      </button>
      <% } %>
      <br />
      <% if (!first) { %>
      <button type="button">
        <a href="/messages/<%= message.id - 1 %>">Back</a>
      </button>
      <% } %>
    </div>
  </body>
</html>
